body {
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 450px;
    background-color: #1f2937;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 450px;
    gap: 30px;
    background-color: #1f2937;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 16px;
    height:250px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb
}

.sign-up {
    background-color: #3882f6;
    color: #f9f1f8;
    border-radius: 30px;
    border-color: #3882f6;
    padding: 18px;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.hero-image {
    background-color: #e5e7eb;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:  40px 0px;
}

.info-header {
   font-size: 36px;
   font-weight: 800;
   color: #1f2937; 
   margin-bottom: 32px;
}

.info-subtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100px;
    gap: 80px;
    padding-bottom: 50px;
}

.info-image {
    border: 5px solid rgb(113, 167, 185);
    height: 100px;
    width: 100px;
    border-radius: 12px;
    background-color: white;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    max-width: 800px;
}

.quote-author {
    font-weight: 800;
    align-self: end;
    font-size: 24px;
}

.cta {
    display: flex;
    justify-content: center;
    padding: 70px 0px;
}

.cta-panel {
    background-color: #3882f6;
    width: 1000px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 24px;
}

.cta-header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

.cta-text {
    font-size: 18px;
    color: #f9faf8;
}

.cta-button {
    width: 200px;
    height: 50px;
    border-radius: 16px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    border-color: #f9faf8;
    border-style: solid;
}

.footer {
    text-align: center;
    color: #f9faf8;
    background-color: rgb(35, 57, 70);
    padding: 50px;
    font-size: 20px;
}